body{
    margin: 0;
    background-color: lightsteelblue;
    color: black;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}
.Nav-Container{
    width: 80%;
    margin: 0 auto;
}
Header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #6facff;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:  #000;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top:0;
    width: 0%;
}
nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 200ms;
}
.Header{
    height: 200px;
    background-color: #6facff;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    overflow:hidden;
    align-items: center;
    margin: 100px 50px;
}
.Header-foto{
    display: flex;
    height: 200px;
}
.Header-info{
    display: flex;
    width: 78%;
    flex-direction: column;
    justify-content: space-evenly;
}
.Header-info-personal{
    margin: 5px;
    height: 20px;
    display: flex;
    justify-content: left;
}
.Header-info-personal-icon
{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}
.Header-info-personal-text{
    display: flex;
    font-size: 12px;
    align-items: center;
    color: black;
    text-decoration: none;
}
.Container-Standard{
    margin: 140px;
}
.Container-Standard h1{
    color: #6facff;
}
table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: #cccccc;
}
tr:nth-child(1){
    background-color: #6facff;
}
td,th{
    border: 1px solid black;
    padding: 8px;
    width: 150px;
}
.Opleiding{
    display: flex;
flex-direction: row;
}

.Opleiding-left{
    display: flex;
    width: 28%;
    margin-left: 20px;
}
.Opleiding-Right{
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 68%;
}
.Opleiding-Right p{
    margin: 0;
}
.Jumpin{
    margin-top: 100px;
}
.Werkervaring{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.Werkervaring-left{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-left: 20px;
}
.Werkervaring-Right{
    display: flex;
    flex-direction: column;
margin-bottom: 20px;
    width: 68%;
}
.Werkervaring-Right p{
    margin: 0;
}
.Werkervaring-left p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.Vaardigheden{
    margin-left: 20px;
}
.Header-foto:hover{
    box-shadow: 10px 10px 5px #ccc;
}
.Header-foto:active{
    border: 2px solid black;
    box-shadow: none;
}
footer{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #6facff;
}
footer a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
.TalenKennis{
    display: flex;
    flex-direction: row;
}

.TalenKennis-left{
    display: flex;
    width: 28%;
    margin-left: 20px;
}
.TalenKennis-Right{
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 68%;
}
.TalenKennis-Right p{
    margin: 0;
}
@media only screen and (max-width: 480px)
{
    table{
display: none;
    }
    footer{
        font-size: 10px;
    }
    header{
        font-size: 8px;
    }
    .Container-Standard{
        margin:  0 0 40px 0;
    }
    .Jumpin{
        margin:  100px 0 40px 0;
    }
}
@media only screen and (min-width: 480px)
{
    .TalenKennis{
        display: none;
    }
}