body{
    font-family: Roboto, sans-serif;
    background-color: #4f6270;
}
.albums{
    display: inline-block;
    width: 38%;
}
.muziek{
    display: inline-block;
    width: 58%;
}
h1{
color: #c48d33;
}
article{
    border: 2px solid orange;
    margin: 10px;
    padding: 10px;
}
ul{
    list-style-image: url("asset/172510_music_icon.svg");
}
a:hover{
    font-size: 20px;
    color: #c48d33;
}
.festivals-links:link, .festivals-links:visited, .festivals-links:hover, .festivals-links:active{
    color: white;
    border: 2px solid grey;
    border-radius: 2px;
    font-size: large;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}
.festivals-links:hover{
    color: #c48d33;
    background-color: #c48d3340;
}
.pukkelpop{
    background-color: lightblue;
}
.Werchter{
    background-color: lightsalmon;
}
.Tommorowland{
    background-color: lightpink;
}
.graspop{
    background-color: lightgreen;
}
.Dour{
    background-color: lightyellow;
}