
h1{
    text-align: center;
    color: #ffe14f;
}
.main{
    display: inline-block;
    text-align: center;
}
.div{
    display: inline-block;
    border: 1px solid #ffe14f;
    border-radius: 5px;
}
.audio{
    margin-left: auto;
    margin-right: auto;
}
.div:hover {
    background-color: #8daec6;
}