footer{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    align-items: flex-end;
    align-content: flex-end;
}