
h1{
    text-align: center;
    color: #ffe14f;
}
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.div{
    display: inline-block;
    float: left;
    border: 1px solid #ffe14f;
    border-radius: 5px;
    width: 20%;
    min-width: 200px;
    margin: 10px;
}
.audio{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.div:hover {
    background-color: #8daec6;
}